* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "Cairo", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.head {
    grid-column: 1/3;
}

#header1 {
    position: fixed;
    width: 100%;
    color: white;
    background-color: black;
    height: 61px;
    border-bottom: 1px solid #44D62C;
}

#logo {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

#navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;

}

#navigation-bar li {
    display: inline-block;
    color: #bbb;
    margin-left: 32.5px;
    margin-right: 32.5px;

}

a {
    color: #bbb;
    text-decoration: none;
}

#header2 {
    height: 105px;
    background-color: rgb(82, 81, 81);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;

}

#text-heading2 {
    padding-bottom: 9px;
    font-size: 15px;

}

.text {
    color: whitesmoke;

}

#text1 {
    margin-top: 45px;
    font-size: 60px;
    font-weight: 650;
    color: white;

}

#text2 {
    font-size: 30px;
    font-weight: 350;
}

#text3 {
    font-size: 20px;
}

.sub-container1 {
    grid-column: 1/3;
    height: 91.5vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;

}

#bg-image1 {
    background-image: url(image/razer1.webp);
}

#bg-image2 {
    background-image: url(image/razer2.webp);
}

#bg-image3 {
    background-image: url(image/razer3.webp);
}

.sub-container2 {
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid #222;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container2-text1 {
    margin-top: 45px;
    font-size: 40px;
    font-weight: 650;
    color: white;

}

#container2-text2 {
    font-size: 20px;
    font-weight: 350;
}

#container2-text3 {
    font-size: 18px;
}

#bg-image4 {
    background-image: url(image/razer4.webp);
    border-right: 10px solid #222;
}

#bg-image5 {
    background-image: url(image/razer5.webp);

}

#bg-image6 {
    background-image: url(image/razer6.webp);
    border-right: 10px solid #222;
}

#bg-image7 {
    background-image: url(image/razer7.webp);
}

#bg-image8 {
    background-image: url(image/razer8.webp);
    border-right: 10px solid #222;
}

#bg-image9 {
    background-image: url(image/razer9.webp);
}

a:hover {
    color: white;
    text-decoration: underline;
}

.footer {
    height: 430px;
    width: 100%;
    background-color: #0f0f0f;
    padding-left: 150px;
    padding-top: 10px;

}

.footer-contents {
    color: white;
    display: inline-flex;
    flex-direction: column;
    font-size: 11px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.footer-contents a,
h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
}

.footer2 {
    height: 250px;
    width: 100%;
    background-color: black;
}

#footer-icons a,
h4 {
    padding-top: 3px;
    padding-bottom: 2px;
}

#icon {
    font-size: 16px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    /* border: 1px solid white;
    border-radius: 50%; */
    margin-left: 10px;
    margin-top: 1px;
}

.under-hr-line {
    color: #bbb;
    font-size: 11px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-top: 13px;
}

.under-hr-line span a {
    padding-right: 50px;
    padding-left: 30px;
}