* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "Cairo", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.head {
    grid-column: 1/3;
}

#header1 {
    position: fixed;
    width: 100%;
    color: white;
    background-color: black;
    height: 61px;
    border-bottom: 1px solid #44D62C;
}
#logo {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;

}

ul>li {
    display: inline-block;
    color: #bbb;
    margin-left: 32.5px;
    margin-right: 32.5px;
    
}

#header2 {
    height: 105px;
    background-color: rgb(82, 81, 81);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;

}
#text-heading2{
    padding-bottom: 9px;
    font-size:15px;
    
}
.text{
    color:whitesmoke;
    
}
#text1{
    margin-top: 45px;
    font-size: 60px;
    font-weight: 650;
    color: white;

}
#text2{
    font-size: 30px;
    font-weight: 350;
}
#text3{
    font-size: 20px;
}

.sub-container1 {
    grid-column: 1/3;
    height: 91.5vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid #222;
    display:flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 0px;
    
}

#bg-image1 {
    background-image: url(image/image2.webp);
}

#bg-image2 {
    background-image: url(image/image3.webp);
}

#bg-image3{
    background-image: url(image/image4.webp);
}
.sub-container2{
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid #222;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#container2-text1{
    margin-top: 45px;
    font-size: 40px;
    font-weight: 650;
    color: white;

}
#container2-text2{
    font-size: 20px;
    font-weight: 350;
}
#container2-text3{
    font-size: 18px;
}
#bg-image4{
    background-image: url(image/image5.webp);
    border-right: 10px solid #222;
}
#bg-image5{
    background-image: url(image/image6.webp);
    
}

#bg-image6{
    background-image: url(image/image7.webp);
    border-right: 10px solid #222;
}
#bg-image7{
    background-image: url(image/image8.webp);
}

#bg-image8{
    background-image: url(image/imageNew.webp);
    border-right: 10px solid #222;
}
#bg-image9{
    background-image: url(image/image9.webp);
}
.footer{
    grid-column: 1/3;
}

#footer1{
    background-color:#151515;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    
}
table{
    width: 1000px;
    font-size: small;
    
}
.column{
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#footer2{
    background-color: #000000;
    height: 33vh;
}


